header.banner {
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.container {
    .brand,
    .header-logo {
        float: left;
    }

    .brand {
        font-size: 25px;
        margin-top: 34px;
        font-weight: bold;
        font-style: italic;

        &:hover {
            text-decoration: none;
        }
    }

    .header-logo {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .nav-primary {
        float: right;
        margin-top: 5px;
        margin-left: 30px;
    }
}

.nav-primary .nav {
    list-style: none;

    li {
        float: left;
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            a {
                color: rgba(0,0,0,0.8);
                font-weight: 400;
            }
        }

        a {
            color: rgba(0,0,0,0.6);
            background: none;
            padding: 37px 0px;
        }

        &.current-menu-item {
            border-bottom: 2px solid black;

            a {
                color: rgba(0,0,0,0.8);
                font-weight: 700;
            }
        }
    }
}

.carousel-extra {
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    top: 30%;
    color: #fff;
    text-align: center;
}

.carousel-inner > .item > a > img {
  margin: 0 auto;
}
