.wp3sixty-plugin-post-feature-image {
  .wp3sixty-work-link {
    position: absolute;
    top: 40%;
    right: 0;
    left: 40%;
    a{
      margin: 5px;
    }
    .wp3sixty-github:before {
      background: url(../images/GitHub.png) no-repeat;
      background-size: contain;
      padding: 50px;
      content: " ";
    }

    .wp3sixty-wordpress {
      margin-top: -43px;
      &:before {
        background-size: contain;
        color: #fff;
        text-decoration: none;
        font-size: 100px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  img{
    position: relative;
  }
}
