.widget{

  font-family: $font-post-content;

  margin-top: 40px;
  border-top: 1px solid rgba(0,0,0,0.05);

  h3{
    font-weight: bold;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  ul{
    margin-bottom: 40px;
    padding: 0;
    li {
      border: 0;
      padding: 0;
      margin: 18px 0 0;
      display: block;

      .button--circle{
        float: left;
        width: 40px;
        height: 40px;
        line-height: 1;
        background-color: rgba(255,255,255,0.97);
        border-color: rgba(0,0,0,0.05);
        text-align: center;
        padding: 0;
        border-radius: 999em;
        span{
          color: $color-black;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 700;
          font-style: normal;
        }
      }

      a{
        color: $color-black;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        max-width: 96%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        &:hover{
          text-decoration: none;
          color: darken($brand-primary, 3%);
        }
      }
      a.post-title{
        margin-left: 60px;
      }
      a.author-link{
        font-size: 14px;
        margin-left: 60px;
        margin-right: 20px;
        margin-bottom: 0;
        color: $color-grey;
        &:hover{
         color: darken( $color-grey, 100% );
        }
      }
    }

  }
}